.multi-choices-widget {
    ul {
        list-style: none;
        padding : 0;
        margin : 0;
        ul {
            padding-left : 18px;
        }
        li {
            display : block;
        }
    }
}
