.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
    font-weight    : 700;
    text-transform : uppercase;
    font-size      : 15px;
}

.box-header {
    display : table;
    width   : 100%;
    .box-title,
    .box-tools {
        display        : table-cell;
        vertical-align : middle;
        float          : none !important;
        position       : static !important;
    }
    .box-title {
        width : 100%;
    }
    .box-tools {
        width       : 1%;
        white-space : nowrap;
        text-align  : right;
    }
}
