/***
Customized Bootstrap Modal
***/

.modal {
    z-index    : $zindex-modal;
    .page-portlet-fullscreen & {
        z-index : $zindex-modal + 10;
    }
    outline    : none;
    overflow-y : auto !important; /* Fix content shifting to the right on modal open due to scrollbar closed */
    .modal-header {
        border-bottom : 1px solid #efefef;
        h3 {
            font-weight : 300;
        }
        .close {
            margin-top : 0 !important;
        }
    }
    &.draggable-modal {
        .modal-header {
            cursor : move;
        }
    }
    .modal-dialog {
        z-index : $zindex-modal + 1;
    }
    > .loading {
        position    : absolute;
        top         : 50%;
        left        : 50%;
        margin-top  : -22px;
        margin-left : -22px;
    }
    &.in {
        .page-loading {
            display : none;
        }
    }
}

.modal-open {
    overflow-y : auto !important;
}

.modal-open-noscroll {
    overflow-y : hidden !important;
}

.modal-backdrop {
    border  : 0;
    outline : none;

    .page-portlet-fullscreen & {
        z-index : $zindex-modal-background + 10;
    }

    &,
    &.fade.in {
        background-color : #333333 !important;
    }
}

/* Full width modal */

.modal-full.modal-dialog {
    width : 99%;
}

@media (min-width : $screen-lg-min) {
    .modal-lg {
        width : 1150px;
    }
}

@media (max-width : $screen-sm-min) {

    .modal-full.modal-dialog {
        width : auto;
    }

}
