.list-group {
    .list-group-item {
        padding : 0;
        &.active a {
            color: #fff;
        }
    }
    a {
        display : block;
        padding : 10px;
        color: #000;
    }
}
